*{
    margin: 0%;
    padding: 0%;
}
h1{
   font-weight: 900;
    padding-left: 200px;
   
    color: white;
    padding-right: 130px;

}
#nav{
    padding-top: 20px;
    background-color: black;
    height: 60px;
    /* position: fixed; */
    width: 100%;
}
a{
    padding-left: 50px;
    color: whitesmoke;
    text-decoration: none;
}
#onebtn{
    color: black;
    background-color: rgb(254, 174, 0);
    border-radius: 0px;
    width: 100px;
    cursor: pointer;
    height: 25px;
border-radius: 5px;
font-weight: 800;
border-color:  rgb(254, 174, 0);


}
a:hover{
    color: rgb(254, 174, 0) ;
    text-decoration: underline;
    font-size:larger;
    cursor: pointer;
}
#cntr{

    background-color: black;
padding-top: 50px;
height: 410px;
 background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230612/pngtree-variety-of-indian-food-in-front-of-a-dark-wooden-table-image_2930880.jpg"); 
background-blend-mode: black;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: 100% 100%;
justify-content: space-between;
}
#butntwo{
width: 110px;
margin-top:20px ;
height: 25px;
background-color: rgb(254, 174, 0) ;
border-radius: 5px;
font-weight: 800;
border-color:  rgb(254, 174, 0);
}


#butnthre{
    width: 110px;
    margin-top: 20px;
    height: 25px;
border-color:  rgb(254, 174, 0);
color:  rgb(254, 174, 0);
background-color: black;
border-radius: 5px;
font-weight: 800;

    }
    
    input{
        margin-top: 50px;
        border-radius: 5px;
        height: 25px;
        border-color:  rgb(254, 174, 0);
color:  rgb(254, 174, 0);
background-color: black;
font-weight: 800;

    }


#butonfour{
    width: 130px;
    margin-top: 20px;
    height: 30px;
border-color:  rgb(13, 12, 10);
color:black ;
background-color: rgb(254, 174, 0);
border-radius: 5px;
font-weight: 800;
margin-left: 60px;
}


#seccntr{

height: 1111px;
background-color: #f0f1c7;

}

#thircntr{
 
height: 450px;
    background-color: white;


}

#fourcntr{
 
    height: 410px;
 background-color: black;       
    }

#fifthcntr{

    height: 440px;
    background-color: black;   
background-color: #f0f1c7;

}


#sixthcntr{

    height: 340px;
    background-color: black; 
}




#chilone{
    position: relative;
    top: 100px;
    width: 500px;
    height: 300px;
    /* border: 6px solid black; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKhcPg-OnIvBESDS2LUBY4WBiLDR5dY3pwBg&s");
    background-repeat: no-repeat;
    background-size: 100% 100%;
position: relative;
left: 240px;
    
    padding-top: 70px;


}


#chiltwo{
    width: 400px;
    height: 290px;
    border: 1px solid black;
    background-color: black;
padding-left: 30px;
position: relative;
margin-top: -160px;
margin-left: 650px;
}



#thircntr:hover{
    cursor: pointer;
}


